/*Registro*/
@import "utilities/variables";

form.registro{
  text-transform: uppercase;
  margin: 20px 0 0 0 ;
}

form.registro label{
  margin-bottom: 5px;
font-weight: bold;
}

h3{
  text-align: center;
}

h4{
  text-align: center;
  text-transform: uppercase;
  border-bottom: 2px solid $orange;
  padding-bottom: 10px;
  font-size: 1.2em;
}

div.caja{
  background-color: white;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin: 10px;
}

div.campo{
  padding: 20px;
}

@media only screen and (min-width: 768px){
  div.campo{
    float: left;
    width: 33.3%;
  }
}


div.paquetes .tabla-precio:hover{
  transform: none;
  box-shadow: none;
}

div.paquetes .tabla-precio input{
  clear: both;
  width: 60px;
  margin: 10px auto 20px 10px;
  padding: 5px;
  text-align: left;
}

.contenido-dia{
  padding: 20px;
  display: none;
}
@media only screen and (min-width: 768px){
  .contenido-dia > div{
    float: left;
    width: 33.3%;
  }
}

.contenido-dia > div p{
  text-align: left;
}

.contenido-dia > div label{
  display: block;
  margin-bottom: 10px;
}

.contenido-dia > div input{
  margin-right: 10px;
}

.contenido-dia > div label time{
  color: $orange;
}

/*Resumen Registro*/

div.resumen p{
  font-size: 1.2em;
  text-transform: uppercase;
}

div.resumen div.extras{
  float: left;
  width: 50%;
  padding: 30px;
}

div.extras div.orden{
  text-align: left;
  margin-bottom: 10px;
}

div.extras div.orden input{
  margin: 10px 0 0 0;
}

div.resumen div.total{
  float: right;
  width: 50%;
  padding: 30px;
}

div.resumen input{
  display: block;
  margin: 30px auto;
}


#lista-productos{
  background-color: #e1e1e1;
  padding: 20px;
  display: none;
}

#suma-total{
  text-align: center;
  font-size: 2em;
  color: $orange;
}


#error {
  clear: both;
  text-align: center;
  padding: 15px;
  display: none;
}
